/* ========================
Navigation Bar CSS
======================== */

.main_nav {
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: black;
height: 3rem;
position: sticky;
top: 0px;
flex-wrap: wrap;
padding: 0.5rem 1rem;
z-index: 1000;
}

.logo_nav {
color: white;
cursor: pointer;
}

.link_nav {
display: flex;
justify-content: center;
align-items: center;
color: white;
}

.link_nav ul {
display: flex;
list-style: none;
padding: 0px;
margin: 0;
}

.link_nav ul li {
margin-right: 1rem;
}

a {
color: white;
text-decoration: none;
}

.search_nav {
display: flex;
justify-content: space-evenly;
align-items: center;
}

.input_section {
display: flex;
justify-content: space-evenly;
align-items: center;
}

.input_section input {
outline: none;
border: none;
height: 1.4rem;
width: 13rem;
text-align: center;
border-radius: 0.4rem;
}

.input_section input:focus {
outline: none;
border: none;
}

i {
cursor: pointer;
color: white;
margin: 10px;
}

/* ========================
Responsive Styles
======================== */

/* Medium screens (tablets) */
@media (max-width: 992px) {
.main_nav {
justify-content: space-between;
flex-wrap: wrap;
height: auto;
padding: 0.5rem;
}

.link_nav ul li {
margin-right: 0.5rem;
}

.input_section input {
width: 10rem;
}
}

/* Small screens (mobile phones) */
@media (max-width: 768px) {
.main_nav {
flex-direction: column;
align-items: flex-start;
height: auto;
padding: 0.5rem 1rem;
}

.link_nav ul {
flex-direction: column;
gap: 0.5rem;
margin: 0.5rem 0;
}

.input_section {
width: 100%;
margin-top: 0.5rem;
}

.input_section input {
width: 100%;
}
}

/* Extra small screens (phones) */
@media (max-width: 576px) {
.input_section input {
width: 90%;
font-size: 14px;
}

i {
margin: 5px;
}
}
