.main_admin {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* so text is visible */
}

.main_form {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* spacing between inputs */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main_form input{
    height: 2rem;
    width: 19rem;
    border-radius: 0.7rem;
    text-align: center;
    outline: none;
    border: none;
    border: 1px solid black;
}
.main_form button{
    background-color: orangered;
    border: none;
    height: 2rem;
    color: white;
    border-radius: 0.5rem;
}